* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --color1: rgb(100, 100, 100);
    --color2: rgb(50, 50, 50);
    --bg-color-pendulum-parts: rgb(245, 245, 245);
    --color-controller: rgb(14, 232, 14);
}

/* general */

html {
    font-size: 16px;
}

body {
    overflow: hidden;
}

main {
    overflow: hidden;
}

button {
    cursor: pointer;
    background-color: transparent;
}

/* styling */

.pendulum-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
}

.btn-close-wrapper {
    height: 0;
    border-top: solid var(--color1) 4px;
}
.btn-close {
    position: relative;
    left: 50%;
    translate: -50% -50%;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
    border: solid var(--color1) 4px;
}
.btn-close::before, .btn-close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 60%;
    height: 12%;
    margin: 0 auto;
    background-color: var(--color1);
}
.btn-close::before {
    rotate: z 45deg;
}
.btn-close::after {
    rotate: z -45deg;
}

/* btn-close hover */
.btn-close-wrapper:has(.btn-close:hover) {
    border-color: var(--color2);
}
.btn-close:hover {
    border-color: var(--color2);
    background-color: rgb(228, 228, 228);
}
.btn-close:hover::before, .btn-close:hover::after {
    background-color: var(--color2);
}

/* info content */

.pendulum-parts-container {
    height: 100%;
    background-color: white;
}

.pendulum {
    position: relative;
    margin: 20px 0;
    border: solid black 2px;
    border-radius: 12px;
    background-color: white;
}

.btn-close-pendulum {
    position: absolute;
    top: 0;
    right: 0;
    translate: -50% -50%;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    border: solid red 2px;
}
.btn-close-pendulum::before, .btn-close-pendulum::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 60%;
    height: 12%;
    margin: 0 auto;
    background-color: red;
    border-radius: 10px;
}
.btn-close-pendulum::before {
    rotate: z 45deg;
}
.btn-close-pendulum::after {
    rotate: z -45deg;
}

.btn-show-pendulum {
    position: absolute;
    top: 0;
    left: 0;
    translate: 50% -50%;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    border: solid rgb(0, 0, 0) 2px;
}
.btn-show-pendulum::before, .btn-show-pendulum::after {
    content: "";
    position: absolute;
    top: 47%;
    translate: -50% -50%;
    width: 50%;
    height: 12%;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
.btn-show-pendulum::before {
    rotate: z 45deg;
    left: 65%;
}
.btn-show-pendulum::after {
    rotate: z -45deg;
    left: 35%;
}

.pendulum.simplified .btn-show-pendulum::before {
    left: 35%;
}
.pendulum.simplified .btn-show-pendulum::after {
    left: 65%;
}

.pendulum-parts {
    padding: 0 6px;
    height: 70%;
    overflow-y: scroll;
    border-bottom: solid black 2px;
    background-color: var(--bg-color-pendulum-parts);
}

.pendulum-attributes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    row-gap: 10px;
    padding: 8px 2px;
}
.pendulum.simplified .pendulum-attributes {
    grid-template-columns: 1fr;
    padding: 0;
}

.pendulum-attribute {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
}
.pendulum.simplified .pendulum-attribute {
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
}

.input-info {
    height: 50%;
}
.input {
    height: 50%;
    border: solid black 2px;
    border-radius: 8px;
}

.input-number {
    padding: 4px;
    margin: 0 auto;
    width: 80%;
}

.colors-wrapper {
    display: flex;
    width: 60%;
}

.input-color-wrapper {
    position: relative;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    border: dashed black 2px;
    overflow: hidden;
}
.input-color {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    translate: -50% -50%;
    cursor: pointer;
}

.ball-icon {
    display: block;
    width: 12px; 
    height: 12px;
    background-color: black;
    border-radius: 100%;
    translate: 0 50%;
}

.line-icon{
    display: block;
    width: 4px;
    height: 20px; 
    rotate: z 45deg;
    background-color: black;
    border-radius: 10px;
}

.btn-add {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 0 auto;
    height: 30%;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--color1);
}
.btn-add-icon {
    position: relative;
    width: 40px;
    height: 40px;
    border: solid var(--color1) 4px;
    border-radius: 100%;
}
.btn-add-icon::before, .btn-add-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 60%;
    height: 12%;
    border-radius: 10px;
    background-color: var(--color1);
}
.btn-add-icon::after {
    rotate: z 90deg;
}
.btn-add-text {
    font-weight: 900;
}

/* btn-add hover */
.btn-add:hover {
    color: var(--color2);
}
.btn-add:hover .btn-add-icon {
    border-color: var(--color2);
}
.btn-add:hover .btn-add-icon::before, .btn-add:hover .btn-add-icon::after {
    background-color: var(--color2);
}

/* canvas controller */

.pendulum-controller {
    position: absolute;
    top: 3%;
    width: 100vw;
}

.btn-play, .btn-pause {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 100%;
    border: solid white 3px;
    background-color: black;
}
.btn-play::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 55%;
    translate: -50% -50%;
    border-left: solid var(--color-controller) 10px;
    border-top: solid transparent 7px;
    border-bottom: solid transparent 7px;
}

.btn-pause::before, .btn-pause::after {
    content: "";
    position: absolute;
    top: 50%;
    translate: -50% -50%;
    height: 50%;
    width: 12%;
    background-color: var(--color-controller);
}
.btn-pause::before {
    left: 38%;
}
.btn-pause::after {
    left: 62%;
}

.hidden {
    display: none;
}
