* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    /* controller */
    --color-controller-play-pause: rgb(14, 232, 14);
    
    /* pendulum info */
    --bg-color-pendulum-parts: rgb(224, 224, 224);
    --time-close-pendulum-info: .6s;

    /* pendulum */
    --color-btn-remove-pendulum: rgb(220, 38, 38);
    --color-btn-minimize-pendulum: rgb(25, 102, 217);
    --time-minimize-pendulum: .6s;
}

/* general */

button {
    cursor: pointer;
    background-color: transparent;
}

/* icons */

.icon-plus {
    --color: black;
    --size: 0;

    position: relative;
    width: var(--size);
    height: var(--size);
}
.icon-plus::before, .icon-plus::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 60%;
    height: 12%;
    border-radius: 10px;
    background-color: var(--color);
}
.icon-plus::after {
    rotate: z 90deg;
}

.icon-minus {
    --color: black;
    --size: 0;

    position: relative;
    width: var(--size);
    height: var(--size);
}
.icon-minus::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 60%;
    height: 12%;
    border-radius: 10px;
    background-color: var(--color);
}

.icon-chevron {
    --color: black;
    --size: 0;

    position: relative;
    width: var(--size);
    height: var(--size);
}
.icon-chevron::before, .icon-chevron::after {
    content: "";
    position: absolute;
    top: 53%;
    translate: -50% -50%;
    width: 50%;
    height: 12%;
    background-color: var(--color);
    border-radius: 10px;
}
.icon-chevron::before {
    left: 35%;
    rotate: z 45deg;
}
.icon-chevron::after {
    left: 65%;
    rotate: z -45deg;
}

.icon-x {
    --color: black;
    --size: 0;

    position: relative;
    width: var(--size);
    height: var(--size);
}
.icon-x::before, .icon-x::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 60%;
    height: 12%;
    border-radius: 10px;
    background-color: var(--color);
}
.icon-x::before {
    rotate: z 45deg;
}
.icon-x::after {
    rotate: z -45deg;
}

/* styling */

html {
    font-size: 16px;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

main {
    height: 100%;
}

.chaotic-pendulum-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#chaotic-pendulum-canvas {
    display: block;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
}

/* pendulum info */

.pendulum-info {
    position: relative;
    width: 100%;
    height: 300px;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.2);
    transition: var(--time-close-pendulum-info);
}

/* pendulum info close button */

.btn-close {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -50%;
    border-radius: 100%;
    border: solid black 4px;
    background-color: white;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.2);
    z-index: 1;
    transition: var(--time-close-pendulum-info);
}
.btn-close .icon-chevron {
    --size: 30px;
}
.btn-close .icon-chevron::before, .btn-close .icon-chevron::after {
    transition: var(--time-close-pendulum-info);
}

/* pendulum info (closed) */

.pendulum-info.closed {
    height: 0;
    box-shadow: none;
}
.pendulum-info.closed .btn-close {
    --size: 40px;

    top: -30px;
}
.pendulum-info.closed .btn-close .icon-chevron::before {
    top: 47%;
    rotate: z -45deg;
}
.pendulum-info.closed .btn-close .icon-chevron::after {
    top: 47%;
    rotate: z 45deg;
}

/* pendulum info content */

.pendulum-parts-container {
    height: 300px;
}

.pendulum-parts {
    height: 70%;
    padding: 10px 20px 0;
    border-bottom: solid black 2px;
    background-color: var(--bg-color-pendulum-parts);
    overflow-y: scroll;
}

/* pendulum */
.pendulum {
    position: relative;
    margin: 20px 0;
    border: solid black 2px;
    border-radius: 12px;
    background-color: white;
}

.pendulum-attributes-wrapper {
    padding: 10px;
}

.pendulum-attributes {
    position: relative;
    height: 100px;
    transition: var(--time-minimize-pendulum);
}

.pendulum-number-inputs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

/* pendulum number input */
.pendulum-number-attribute {
    width: 50%;
    height: 50%;
    text-transform: uppercase;
    text-align: center;
    transition: var(--time-minimize-pendulum);
}

.pendulum-input-number {
    display: block;
    width: 80%;
    height: 50%;
    padding: 6px;
    margin: 0 auto;
    border-radius: 10px;
    border: solid black 2px;
}

/* pendulum color input */
.colors-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transition: var(--time-minimize-pendulum);
}

.pendulum-color-attribute {
    position: relative;
    width: 25px;
    height: 100%;
    transition: var(--time-minimize-pendulum);
}

.icon-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}
.ball-icon {
    width: 15px; 
    height: 15px;
    border-radius: 100%;
    background-color: black;
}
.line-icon{
    width: 22px;
    height: 4px; 
    border-radius: 10px;
    rotate: z -45deg;
    background-color: black;
}

.pendulum-input-color-wrapper {
    position: absolute;
    bottom: 0;
    width: 25px;
    height: 25px;
    border: dashed black 2px;
    border-radius: 100%;
    overflow: hidden;
    transition: var(--time-minimize-pendulum);
}

.pendulum-input-color {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 200%;
    height: 200%;
    cursor: pointer;
}

/* pendulum buttons */

.btn-close-pendulum {
    position: absolute;
    top: 0;
    right: 0;
    translate: -50% -50%;
    border: solid var(--color-btn-remove-pendulum) 2px;
    border-radius: 100%;
    background-color: white;
}

.btn-close-pendulum .icon-x {
    --size: 20px;
    --color: var(--color-btn-remove-pendulum);
}

.btn-minimize-pendulum {
    position: absolute;
    top: 0;
    left: 0;
    translate: 50% -50%;
    border: solid var(--color-btn-minimize-pendulum) 2px;
    border-radius: 100%;
    background-color: white;
}
.btn-minimize-pendulum .icon-chevron {
    --size: 20px;
    --color: var(--color-btn-minimize-pendulum);
}
.btn-minimize-pendulum .icon-chevron::before, .btn-minimize-pendulum .icon-chevron::after {
    transition: var(--time-minimize-pendulum);
}

/* pendulum (minimized) */

.pendulum.minimized .pendulum-attributes {
    height: 30px;
}

.pendulum.minimized .pendulum-number-attribute {
    opacity: 0;
    pointer-events: none;
}

.pendulum.minimized .colors-wrapper {
    bottom: 50%;
    right: 50%;
    translate: 50% 50%;
    width: 80%;
    height: 100%;
}

.pendulum.minimized .pendulum-color-attribute {
    width: 50%;
}

.pendulum.minimized .icon-wrapper {
    top: 50%;
    translate: 0 -50%;
}

.pendulum.minimized .pendulum-input-color-wrapper {
    bottom: 50%;
    left: 25px;
    translate: 0 50%;
    width: 80px;
    border-radius: 0;
}

.pendulum.minimized .icon-chevron::before {
    top: 47%;
    rotate: z -45deg;
}
.pendulum.minimized .icon-chevron::after {
    top: 47%;
    rotate: z 45deg;
}

/* add button */

.btn-add-wrapper {
    height: 30%;
    background-color: white;
}
.btn-add {
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}
.btn-add .icon-add-wrapper {
    border: solid black 4px;
    border-radius: 100%;
}
.btn-add .icon-plus {
    --size: 40px;
}
.btn-add-text {
    font-size: 1rem;
    font-weight: 900;
}

/* canvas controller */

.btn-play, .btn-pause {
    display: block;
    position: absolute;
    top: 5%;
    left: 50%;
    translate: -50% -50%;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 100%;
    border: solid white 3px;
    background-color: black;
}
.btn-play.hidden, .btn-pause.hidden {
    display: none;
}

.btn-play::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 55%;
    translate: -50% -50%;
    border-left: solid var(--color-controller-play-pause) 10px;
    border-top: solid transparent 7px;
    border-bottom: solid transparent 7px;
}

.btn-pause::before, .btn-pause::after {
    content: "";
    position: absolute;
    top: 50%;
    translate: -50% -50%;
    height: 50%;
    width: 12%;
    background-color: var(--color-controller-play-pause);
}
.btn-pause::before {
    left: 38%;
}
.btn-pause::after {
    left: 62%;
}

.zoom-container {
    position: absolute;
    right: 3%;
    top: 5%;
    border: solid white 2px;
    border-radius: 10px;
}
.btn-zoom-in, .btn-zoom-out {
    display: block;
}

.btn-zoom-in {
    border-bottom: solid white 2px;
}
.btn-zoom-in .icon-plus {
    --color: white;
    --size: 40px;
}

.btn-zoom-out .icon-minus {
    --color: white;
    --size: 40px;
}
